body{
    background-image: url(image/earth.jpg);
    background-size: cover;
    margin: 0;
}
header{
    background-color: beige; 
    height: 110px;
    display: flex;
    align-items: center;
}
.logo{
    float: left;
    width: 110px;
    height: 110px;
}
header h1{
    color: black;
    padding-left: 30px;
    font-size: 4em;
}
.link{
    margin-left: 140px;
    margin-right: 0;
}
.link a{
    background-color: rgb(139, 67, 15);
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px 10px;
    margin-inline: 20px;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.link a:hover{
    color: black;
    transition: 1s;
    z-index: 2;
}
/* End */
main h5{
    font-size: 2em;
    color: black;
    background-color: white;
    border-radius: 10px 10px;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 2px;
    text-align: center;
}
.wrapper table, .wrapper img{
    
    margin-left: auto;
    margin-right: auto;
}
.pinepod1{
    margin-left: auto;
    margin-right: auto;
}
.pinepod1 img{
    border: solid 2px burlywood;
    float: left;
    clear: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 0px;
    max-width: 400px;
}

.audiotest{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}
.audiotest p{
    font-size: 20px;
}
#page a{
    text-decoration: none;
}
#page a:hover{
    color: red;
    text-decoration: none;
}



.pinepod2{
    margin-left: auto;
    margin-right: auto;
}
.pinepod2 img{
    background-color: white;
    border: solid 2px burlywood;
    float: left;
    clear: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    max-width: 200px;
    min-width: 400px;
}
table{
    background-color: white;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 20px;
    padding-left: 0%;
    padding-right: 2px;
    border: black solid 3px;
}
th{
    font-style: italic;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    font-size: 1.5em;
    border: black solid 2px;
    padding: 2px 5px;
}

.pinecare a{
    font-size: .6em;
    font-style: italic;
    text-decoration: none;
}
.pinecare a:hover{
    color: red;
}
/* footer */
footer{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 55px;
    padding-bottom: 20px;
    font-size: 20px;
    color: black;
    background-color: aliceblue;
    border-top: solid black 5px;
}
footer h3{
    margin: 0;
    font-size: 2em;
}